<section style="margin-top: 20mm; max-width: 90%; margin-bottom: 10mm;">
    <div class="row" *ngFor="let abon of abonnes; let i =index">
        <div class="col-3"></div>
        <div class="col-lg-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">{{abon.fName}} {{abon.lName}}</h5>
                            <p class="card-text">Livres Téléchargés pour ce mois: {{abon.livreTelecharge}}</p>
                            <p class="card-text"><small class="text-muted"> 
                                <button class="btn btn-outline-danger" style="border-radius: 0%;" (click)="delete(i)">delete</button>
                            </small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="abn">
<form [formGroup]="abonForm">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-2">
            <input type="text" class="form-control" placeholder="First Name" formControlName="fName">
        </div>
        <div class="col-2">
            <input type="text" class="form-control" placeholder="Last Name" formControlName="lName">
        </div>
    </div>
    <div class="row" style="margin-top: 3mm;">
        <div class="col-3"></div>
        <div class="col-4">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
        </div>
    </div>
    <div class="row" style="margin-top: 3mm;">
        <div class="col-3"></div>
        <div class="col-4">
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
        </div>
    </div>
</form>
</div>
    <div class="row" style="margin-top: 3mm;" *ngIf="abn">
        <div class="col-4"></div>
        <div class="col-6">
            <button class="btn btn-warning" style="border-radius: 0%; margin-right: 2mm;" (click)="addAbon()">add</button>
            <button class="btn btn-outline-danger" style="border-radius: 0%;" (click)="dismissNewLivre()">dismiss</button>
        </div>
    </div>


    <div class="row" style="margin-top: 5mm;">
        <div class="col-4"></div>
        <div class="col-lg-4">
            <button class="btn btn-success" (click)="newAbon()">New abonné</button>
        </div>
    </div>
</section>